.nav{
    background-color:red;
    transition: background-color 0.3s ease;
}

.text-nav{
    color:yellow !important;
    transition: color 0.3s ease;

}

.text-nav:hover{
    color:white !important;
}



